.logo-img{
  width: 30%;
}
.fondo{
    background-image:url(../img/10.jpg);
}

div.secondary.callout.text-center{
  min-height: 242px;
}
.jpg{
    padding: 10px;
    max-height: 129px;
}
.cont-barra{
    background-color: skyblue;
    margin: 10px;
    max-height: 750px;
}
.cont-cont{
    background-color: lightsteelblue;
    margin: 10px;
    
}
.cont-general{
    background-color: rgba(0, 187, 255, 0.47);
}
.foto-perfil{
    max-height: 50px;
}
.border{
    border: 1px solid white;
    padding: 3px;
    
}
